
be-pangalengan/node_modules/
be-pangalengan/public/build/
be-pangalengan/public/hot/
be-pangalengan/public/storage/
be-pangalengan/storage/*.key
be-pangalengan/vendor/
be-pangalengan/.env
be-pangalengan/.env.backup
be-pangalengan/.env.production
be-pangalengan/.phpunit.result.cache
be-pangalengan/.phpunit.cache
be-pangalengan/Homestead.json
be-pangalengan/Homestead.yaml
be-pangalengan/auth.json



/.phpunit.cache
/phpunit.result.cache
/vendor
/.env
.env.backup
.env.production
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
auth.json

fe-pangalengan/logs
fe-pangalengan/*.log
fe-pangalengan/npm-debug.log*
fe-pangalengan/yarn-debug.log*
fe-pangalengan/yarn-error.log*
fe-pangalengan/pnpm-debug.log*
fe-pangalengan/lerna-debug.log*
fe-pangalengan/node_modules
fe-pangalengan/dist
fe-pangalengan/dist-ssr
fe-pangalengan/*.local


/.fleet
/.idea
/.vscode
/.fleet
/.idea
/.vscode
fe-ardhianzy/.vscode/*
!fe-ardhianzy/.vscode/extensions.json
fe-ardhianzy/.DS_Store
fe-ardhianzy/*.suo
fe-ardhianzy/*.ntvs*
fe-ardhianzy/*.njsproj
fe-ardhianzy/*.sln
fe-ardhianzy/*.sw?
